body {
  background-color: rgb(150, 184, 126);
  color: rgb(red, green, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Sora", sans-serif;
}

.container {
  background-color: rgb(207, 255, 174);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 500px;
  padding: 7px 28px 28px;
  box-shadow: 5px 7px #303030;
}

.pic {
  position: relative;
  left: 30%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-size:100%;
  margin-bottom: 15px;
}

.name {
  font-size: x-large;
  margin-bottom: 5px;
}

.location {
  color:  rgb(0, 119, 199);
  font-size: medium;
  font-weight: 500;
  margin-bottom: 10px;
}

.bio {
  margin-bottom: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.github, .facebook, .youtube, .instagram, .discord {
  text-decoration: none;
  border: 1px solid #96bf82;
  background-color: #bff2a5;
  font-size: larger;
  padding: 7px 15px;
  color: black;
}

